.search-top-container{
    display: flex;
    flex-direction: column;
}
.search-container{
    width: 550px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    margin-bottom: 35px;
}
.input-search-container{
    background: #fff;
    height: 50px;
    border-radius: 15px;
    display: flex;
}
.searchPage-input{
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    box-sizing: border-box;
    width: 450px;
    height: 100%;
    padding: 10px;
    opacity: 0.9;
    border: 0;
    outline: 0;
    background: transparent;
}