.person-update{
    height: 100px;
    background: #fff;
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
.rejected-btn{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    color: #000;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(210deg, #FF3CAC 0%, #784BA0 47%, #2B86C5 59%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    transition: 0.4s;
}
.rejected-btn:hover{
    box-shadow: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.text-area{
    width: 450px;
    height: 75px;
    font-size: 20px;
}